.layout {
  display: flex;
  flex-direction: column;
  font-family: $baseFont;
  min-height: 100vh !important;

  &__header a {
    font-family: $baseFont;
    font-size: 20px;
    margin: 0 20px;
  }

  &__content {
    margin-top: 20px;
  }
}
